/*
Conceptos básicos

1. Tipografía, es la disciplina (y arte) que se encarga de las letras, su diseño y su legibilidad.

2. Fuente. Es un tipo epecífico de letra.

3. Glifo. Cada caracter (símbolo) en una fuente.

4. Estilos. Son las variaciones de una fuente.

5. Familia tipográfica. Son diferentes fuentes pero de la misma familia, es decir, que comparten rasgos en común (incluso el nombre).
*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Lugrasimo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Unidades de medida: rem y em 

    em -> tamaño de la M (significado histórico).

    rem -> Tamaño de la M respecto a la raíz (base).

---

rem es el tamaño de la fuente en la raíz(:root), y este tamaño no cambia nunca, salvo que se sobreescriba en la raíz.


*/

h1 {
  font-size: 5rem;
}

p {
  font-size: 5rem;
  line-height: 1.5;
  text-transform: lowercase;
}

/*

em: es el porcentaje del tamaño de fuente del padre más cercano.

1em = 100%
.5em = 50%
1.5em = 150%

*/

span {
  color: red;
  font-size: .9em;
}

.button {
  /* font-family: "Sedan SC", serif; */
  font-style: italic;
  font-weight: bold;
  font-size: .5em;
  display: inline-block;
  background: hsl(200, 50%, 60%);
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em;
  border-radius: .25em;
}

h1 {
  text-align: left;
  line-height: 1.3;
  text-decoration: underline;
  letter-spacing: -.02em;
  word-spacing: -.2em;
}

/* Propiedades básicas de texto */

/* font-size: para el tamaño de letra */

/* font-style: normal | italic */
/* font-weight: normal | bold | [numero] */
/* text-align: left | center | right | justify */
/* line-height: altura de línea */
/* text-transform: uppercase | lowercase | capitalize */
/* text-decoration: underline | line-trhough | none */
/* letter-spacing y word-spacing */